body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: gray;
}
.marca{
    text-align: left;
    margin: 2px;
}
.calculadora{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    text-align: center;
}
#display{
    width: 100%;
    margin-bottom: 10px;
    font-size: 24px;
}
button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}
.botoes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}